@charset "EUC-KR";


.logot{
	background-color: #FFFFFF;
	border-collapse: collapse
}


.logotr{
	border-collapse: collapse;
}


.logotdh{
	padding-left: 75px;
	padding-right: 8px;
}

.logotd{
	height: 80px;
}

.logotdtext{
	padding-right: 380px;
}

.logotdicon1{
	padding-left: 100px;
	padding-right: 100px;
}

.logotdicon2{
	padding-left: 100px;
	padding-right: 100px;
}

.logotdicon3{
	padding-left: 100px;
	padding-right: 100px;
}

.logotdlogin{
	padding-left: 370px;
	padding-right: 10px;
	color: #4e4c4c;
}

.logotdloginp{
	padding-right: 120px;
}

.leftside{
	padding-left: 75px;
	color:#4e4c4c;
}

.leftside{
	padding-top: 30px;
}
.leftsidetd{
	padding-top: 25px;
	padding-bottom: 25px;
	width: 20px;
}
.leftsidetext{
	padding-left: 32px;
	padding-bottom: 5px;
}

.board{

	margin-top: 52px;
	margin-left: 274px;
	margin-right: 352px;
	width: 680px;
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-radius:8px;
	box-shadow: 0 1px 2px #ccc;

}

.filebox{
    padding-left: 24px;
    padding-bottom: 10px;
    padding-top: 2px;
}

..filebox label {
   display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f1f0f0;
  cursor: pointer;
  border: 1px solid #f1f0f0;
  border-radius: .25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.filebox label:hover {
    background-color: #f1f0f0;
}

.filebox label:active {
 background-color: #ffffff;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.okbutton{

}

.okbuttonInput{
	margin-left:4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline-block;
    border-collapse: collapse;
    border-radius: 17px;
    border: solid #b9b6b6 1px;
    font-size: 13px;
    background-color: #b9b6b6;
    color: #ffffff;
}

.okbuuttonall{
	padding-left: 361px;
}

.photoChoice{
	padding-bottom:2px;
}

.boardtd{
	border-collapse: collapse;
	border-spacing:0;

}
.boardtdphoto{
	border-collapse: collapse;
	border-spacing:0;

}

.photo{
 	width: 680px;
  	height: object-fit: contain;
}

.boardtdprofil{
	width: 30px;
	padding-left: 17px;
	padding-top: 14px;
	padding-bottom: 11px;

}

.boardadd{
	padding-right: 4px;
	padding-top: 20px;
}

.boardtdlike{
	margin: auto;
	width: 30px;
	padding-left: 11px;
	padding-top: 0px;
	padding-bottom: 11px;
	display: block;
	
}

.boardtdlikere{
	padding-bottom: 12px;
	width: 100px;
	color: #8b8989;
}

.boardtrrewrite{
	padding-bottom: 12px;
	color: #8b8989;
}

.boardreport{
	padding-left:343px;
	padding-bottom: 12px;
	color: #8b8989;
}

.boardtdprofilname{
	padding-left:15px;
	font-size:13pt;
 	border: solid 1px #ffffff;
}

.boardprofiltime{
	font-size:9pt;
	color: #65676b;
}

.boardtdre{
	padding-left:20px;
	padding-right: 12px;
	width:20px;
	padding-bottom: 12px;
}

.boardtdline{
	padding-left:15px;
	height: 22px;
}
.boardtdtext{
	padding-left: 17px;
	padding-top: 14px;
}
.boardfoot{
	width:100%;
	padding: 0 50px 0 50px;
}



.rightside{
	border: 1px solid black;
}

span{ 
	font-size: 12px; 
}


body {
	background-color: #EEEEEE;
	margin:0 auto; 
	}