@charset "EUC-KR";


.logo{
	padding-top: 19px;
    padding-left: 445px;
	
}
.login{
 
    height: 95px;
    border-radius: 8px;
    margin-top: 141px;
    margin-left: 726px;
    margin-right: 352px;
    width: 559px;
    border-collapse: collapse;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px #ccc;
 
}

.loginlogo{
	padding-top: 44px;
}


.checkText{
	font-size: 14px;
    padding-left: 26px;
    color: #969696;
    
}

.checkText2{
	font-size: 14px;
    padding-left: 26px;
    color: #969696;
        padding-top: 10px;
    padding-bottom: 22px;
    
}


.id{
	padding-top: 42px;
	padding-bottom: 10px;
	
}
 
.password{

	padding-bottom: 14px;
	
}


.idpassword{
	padding-top: 30px;
	
}
 
.findIdPw{
	padding-top: 30px;
	padding-botto: 10px;
	font-size: 14px;	
}

.idCheckImg{

	padding-top: 23px;
}

.idCheck{
	padding-bottom: 15px;
}

.confirm{
	 margin-left: 10px;
}

.nextId{
	margin-left: 10px;
}

.line{
	padding-top: 28px;
	padding-bottom: 21px;
}
.joinMember{
	padding-top: 8px;
    padding-bottom: 64px;
	
}

input:focus, textarea:focus, select:focus, option:focus {

    outline:none!important;

}

h5{
	
	font-size: 33px; 
	padding-bottom: 3px;
}

.name{
	
	padding-bottom: 10px;
	 padding-right: 95px;

}

.name2{
	
	padding-bottom: 22px;

	
}

.newpw{
	padding-top: 45px;
	padding-bottom: 10px;
	padding-left: 23px;
	
}

.newpwcheck{
	padding-top: 3px;
	padding-bottom: 10px;
	padding-left: 23px;
}

.pwcheck{

    padding-top: 26px;
    padding-left: 26px;
	
}

.nextButton{
	padding-left: 26px;
}


.buttonCss{
	padding-left: 10px;
	padding-top: 20px;
    padding-bottom: 20px;

    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.e-mail{
	padding-bottom: 10px;
	padding-left: 31px;
}

.number{
	padding-bottom: 15px;
}

.next{
	padding-top: 10px;
	padding-bottom: 55px;
}

.auth_num{
	padding-left: 117px;
}

.auth_num2{
	padding-left: 221px;
}

.rightside{
	border: 1px solid black;
}


.checkBox{
    padding-top: 30px;
    background-color: #F6F6F6;
    height: 118px;
    width: 369px;
}

.naverlogin{
	background-color: #eeeeee;	
}

.button2{
	padding-top: 31px;
	padding-bottom: 33px;
}
span{ 
	font-size: 12px; 
}


body {
		background-color: #EEEEEE; 
	margin:0 auto; 
	}