@charset "EUC-KR";


.logot{
	background-color: #FFFFFF;
	border-collapse: collapse
}


.logotr{
	border-collapse: collapse;
}


.logotdh{
	padding-left: 75px;
	padding-right: 8px;
}

.logotd{
	height: 80px;
}

.logotdtext{
	padding-right: 380px;
}

.logotdicon1{
	padding-left: 100px;
	padding-right: 100px;
}

.logotdicon2{
	padding-left: 100px;
	padding-right: 100px;
}

.logotdicon3{
	padding-left: 100px;
	padding-right: 100px;
}

.logotdlogin{
	padding-left: 370px;
	padding-right: 10px;
	color: #4e4c4c;
}

.logotdloginp{
	padding-right: 80px;
}

.leftside{
	padding-left: 75px;
	color:#4e4c4c;
}

.leftside{
	padding-top: 30px;
}
.leftsidetd{
	padding-top: 25px;
	padding-bottom: 25px;
	width: 20px;
}
.leftsidetext{
	padding-left: 32px;
	padding-bottom: 5px;
}







.r_button_td{
	padding-right: 22px;
	padding-left: 12px;
	
}

.rboard{
	padding-top:10px;
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-radius:8px;
	box-shadow: 0 1px 2px #ccc;
	margin-left: 625px;
	margin-top: 3px;
}

.username{
	padding-left: 22px;
}

.rbcontent{
	font-size: 14px;
	width: 496px;
	height: 39px;
	margin-top: 17px;
    margin-bottom: 17px;
    color: #676565;
    border: solid #ccc8c8 1px;
    border-radius: 5px;
    padding-left: 14px;
}

.rbname{
	color: #353535;
	padding-left: 22px;
    padding-right: 12px;
}

.r_button{
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #b67c65;

    color: #ffffff;
    border: solid #b67c65 1px;
    border-radius: 5px;
}



.rboardColor{
	background-color:#EEEEEE;
}

.rightside{
	border: 1px solid black;
}

.rboard_table{
	padding-top:10px;
	background-color: #f9f7f7;
	border-collapse: collapse;
	border-radius:8px;
	box-shadow: 0 1px 2px #ccc;
	margin-left: 624px;
	margin-top: 3px;
}

span{ 
	font-size: 12px; 
}


body {
	background-color: #EEEEEE;
	margin:0 auto; 
	}